<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="reversio" translate="label" sortOrder="500">
            <label>Revers.io</label>
        </tab>
        <section id="reversio_rma" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Revers.io</label>
            <tab>reversio</tab>
            <resource>ReversIo_RMA::config</resource>
            <group id="api" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API</label>
                <field id="environment" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>ReversIo\RMA\Model\Config\Source\Environment</source_model>
                </field>
                <field id="custom_url" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Url</label>
                    <comment><![CDATA[Current API Urls are : Test : https://demo-customer-api.revers.io/api/v1/, Prod : https://customer-api.revers.io/api/v1/]]></comment>
                    <depends>
                        <field id="environment">custom</field>
                    </depends>
                </field>
                <field id="subscription_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscription Key</label>
                </field>
                <field id="secret" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="mapping" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mapping</label>
                <field id="brand_attribute_code" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Attribute Code</label>
                    <source_model>ReversIo\RMA\Model\Config\Source\BrandAttributeCode</source_model>
                </field>
                <field id="rma_allowed_order_statuses" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>RMA Allowed Order Statuses</label>
                    <source_model>ReversIo\RMA\Model\Config\Source\RMAAllowedOrderStatuses</source_model>
                </field>
                <field id="sync_order_start_date" translate="label" type="date" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync Order Start Date</label>
                    <frontend_model>ReversIo\RMA\Block\Adminhtml\System\Config\Date</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
